/* css reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variable */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar:logo and image */
#logo{
    margin: 23px 34px;
}
#logo img{
    height: 183px;
    margin: -80px -145px;
}


/* Navigation BAR:list styling */
#navbar{
    position: relative;
}
#navbar ul{
    display: flex;
}


#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 32px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Trirong", serif;
    

}

#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 280px;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../img/c.jpg') no-repeat center center/cover; 
    /*Here we are in css folder to to move out from this we have used ..*/
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    top: 0px;
    left: 0px;

}
#home h1{
    text-align: center;
    font-family: 'Tangerine', serif;
}

#home p{
    text-align: center;
    font-size: 1.1rem;
    font-family: "Trirong", serif;
}
/* services section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid rgb(70, 66, 66);
    padding: 35px;
    margin: -39px 9px;
    border-radius: 28px;
    background-color: #8080800f;
    /* width: 400px;
    height: 15%; */
    margin-bottom: 20px;
    height: 296px;
}


#services .box img{
    height: 160px;
   margin: auto;
   display: block;
   border-radius: 23px;
   margin-top: -15px;
}
#services .box p{
    font-family: "Trirong", serif;
    font-size: 0.8rem;
}

html{
    scroll-behavior: smooth;
}




/* client section */

#client-section{
    /* position: relative; */
    height: 344px;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/c.jpg');
    width: 100%;
    height: 135%;
    z-index: -1;
    opacity: 0.4;
    margin-top: -45px;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;

}

.client-item{
    padding: 34px;
}

#clients img{
    height: 100px;
    margin-top: 60px;
    /* padding: 2px 6px; */
}

/* contact section */

#contact{
    position: relative;

}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/contact.jpg') no-repeat center center/cover; 

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px ;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: "Trirong", serif;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}



/* utility classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    margin-top: 128px;
    font-family: "Trirong", serif;
}

.h-secondary{
    /* font-family: 'Bree Serif', serif; */
    font-size: 1.2rem;
    padding: 12px;
    margin-top: -15px;
    font-family: "Trirong", serif;
}

.btn{
    padding: 6px 20px;
    border: 3px solid rgb(124, 107, 107);
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor:pointer;
}

.center{
    text-align: center;
}
